    table, th, td {
      border: 1px solid black;
      text-align: center;
      padding: 1px;
    }

    tr:nth-child(even) {
  background-color: #eeeeee;
    }

    th{
      background-color: #c1c1c1;
      height: 60px;
    }

    h3{
      position:relative;
      left:3%;
    }

    header{
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
    }

    .averageGrade{
     text-align: right;
     padding-right: 4%;
    }

    .container{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    p{
      text-align: center;
    }
